.profilePage__container {
  background-color: transparent;
  width: 100%;
  margin: 0;
}

.profilePage__inner-container {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.profilePage__upperSection {
  border-bottom: 1px solid white;
  margin: 0 0 55px 0;
}

.profilePage__userName_title {
  margin: 0;
  padding: 0 0 15px 30px;
  color: white;
}

.profilePage__lowerSection {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

.profilePage__picSection,
.profilePage__editSection {
  margin-right: 50px;
}

.profilePage__edit_message {
  color: white;
}

.profilePage__picSection {
  width: 30%;
  box-sizing: border-box;
}

.profilePage__picSection_picWrapper {
  max-width: 256px;
  max-height: 256px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.profilePage__picSection_pic {
  max-width: 256px;
  max-height: 256px;
}

.profilePage__picSection_changePicBtn,
.profilePage__btnsSection_saveBtn,
.profilePage__btnsSection_changePassBtn {
  width: 100%;
  font-size: 1.2rem;
  color: white;
  background-color: #9933cc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  margin: 0;
}

.profilePage__btnsSection_saveBtn {
  margin-bottom: 15px;
}

.profilePage__btnsSection_saveBtn:disabled {
  background-color: #ad7cc5;
  cursor: default;
}

.profilePage__picSection_changePicBtn > p,
.profilePage__btnsSection_changePassBtn > p {
  margin: 0;
}

.profilePage__editSection {
  width: 38%;
}

.profilePage__btnsSection {
  width: 18%;
}

@media only screen and (max-width: 1024px) {
  .profilePage__inner-container {
    padding: 5px 10px;
  }

  .profilePage__upperSection {
    margin: 0 0 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .profilePage__inner-container {
    padding: 0 10px;
  }

  .profilePage__userName_title {
    font-size: 26px;
    margin: 0;
    padding: 10px 0 10px 10px;
  }

  .profilePage__lowerSection {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profilePage__picSection,
  .profilePage__editSection {
    margin-right: 20px;
  }

  .profilePage__picSection_changePicBtn,
  .profilePage__btnsSection_saveBtn,
  .profilePage__btnsSection_changePassBtn {
    width: 100%;
    font-size: 1rem;
    padding: 7px;
    margin: 0 0 5px 0;
  }
}

@media only screen and (max-width: 720px) {
  .profilePage__inner-container {
    padding: 0 7px;
  }

  .profilePage__upperSection {
    margin: 0 0 10px 0;
  }

  .profilePage__userName_title {
    font-size: 22px;
  }

  .profilePage__picSection_picWrapper {
    margin-bottom: 10px;
    height: 240px;
  }
}

@media only screen and (max-width: 568px) {
  .profilePage__inner-container {
    padding: 0 5px;
  }

  .profilePage__userName_title {
    font-size: 18px;
    padding: 5px 0 5px 5px;
  }

  .profilePage__upperSection {
    margin: 0 0 5px 0;
  }

  .profilePage__picSection_picWrapper {
    margin-bottom: 10px;
    height: 130px;
  }

  .profilePage__picSection_changePicBtn,
  .profilePage__btnsSection_saveBtn,
  .profilePage__btnsSection_changePassBtn {
    font-size: 0.8rem;
    padding: 7px;
  }
}

@media only screen and (max-width: 480px) {
  .profilePage__inner-container {
    padding: 0 5px;
  }

  .profilePage__upperSection {
    margin: 0 0 10px 0;
  }

  .profilePage__userName_title {
    font-size: 22px;
    margin: 0;
    padding: 5px 0 5px 5px;
  }

  .profilePage__picSection,
  .profilePage__editSection {
    margin-right: 10px;
  }

  .profilePage__picSection_picWrapper {
    margin-bottom: 10px;
    height: 300px;
  }

  .profilePage__picSection_changePicBtn,
  .profilePage__btnsSection_saveBtn,
  .profilePage__btnsSection_changePassBtn {
    width: 100%;
    font-size: 0.8rem;
    padding: 5px;
    margin: 0 0 5px 0;
  }

  .profilePage__edit_message {
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .profilePage__inner-container {
    padding: 0 5px;
  }

  .profilePage__upperSection {
    margin: 0 0 5px 0;
  }

  .profilePage__userName_title {
    font-size: 20px;
    margin: 0;
    padding: 5px 0 5px 5px;
  }

  .profilePage__picSection,
  .profilePage__editSection {
    margin-right: 5px;
  }

  .profilePage__picSection_picWrapper {
    margin-bottom: 5px;
    height: 200px;
  }

  .profilePage__picSection_changePicBtn,
  .profilePage__btnsSection_saveBtn,
  .profilePage__btnsSection_changePassBtn {
    width: 100%;
    font-size: 0.5rem;
    padding: 5px;
    margin: 0 0 5px 0;
  }

  .profilePage__edit_message {
    font-size: 10px;
  }
}
