.categories__container {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 17px;
  margin-bottom: 10px;
}

.categories__title-container {
  box-shadow: 0px -2px 0px 0px #8a8c91 inset;
  padding: 10px;
  margin-bottom: 10px;
}

.categories__title {
  margin: 0;
  font-size: 14px;
  color: rgb(230, 230, 230);
}

.categories__content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .categories__container {
    width: 80%;
    padding: 7px;
    margin-bottom: 10px;
  }

  .categories__title-container {
    padding: 5px;
    margin-bottom: 7px;
  }

  .categories__title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .categories__container {
    width: 80%;
    padding: 7px;
    margin-bottom: 10px;
  }

  .categories__title-container {
    padding: 5px;
    margin-bottom: 7px;
  }

  .categories__title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480x) {
  .categories__container {
    padding: 5px;
    margin-bottom: 5px;
  }

  .categories__title-container {
    padding: 5px;
    margin-bottom: 5px;
  }

  .categories__title {
    font-size: 10px;
  }
}
