.newGame__container {
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 0 15px;
  margin: 0;
  width: 80%;
  height: 58vh;
}

.newGame__title-container {
  box-shadow: 0px -2px 0px 0px #8a8c91 inset;
  padding: 10px;
  margin-bottom: 5px;
}

.newGame__title {
  margin: 0;
  font-size: 14px;
  color: rgb(230, 230, 230);
}

.newGame__content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0;
  overflow-y: scroll;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1024px) {
  .newGame__container {
    padding: 5px;
    margin: 0;
    height: 61vh;
  }

  .newGame__title-container {
    padding: 7px;
    margin-bottom: 8px;
  }

  .newGame__title {
    font-size: 13px;
  }

  .newGame__content-container {
    gap: 15px;
    padding: 10px 0;
  }
}

@media only screen and (max-width: 768px) {
  .newGame__container {
    padding: 7px;
    margin: 0;
    height: 61vh;
  }

  .newGame__title-container {
    padding: 5px;
    margin-bottom: 7px;
  }

  .newGame__title {
    font-size: 12px;
  }
}

@media only screen and (max-width: 720px) {
  .newGame__container {
    height: 75vh;
  }
}

@media only screen and (max-width: 568px) {
  .newGame__container {
    padding: 3px 7px;
    margin: 0;
    height: 105vh;
  }

  .newGame__title-container {
    padding: 3px;
    margin-bottom: 3px;
  }

  .newGame__title {
    font-size: 11px;
  }
}

@media only screen and (max-width: 480px) {
  .newGame__container {
    padding: 5px;
    margin: 0;
    height: 70vh;
  }

  .newGame__title-container {
    padding: 5px;
    margin-bottom: 5px;
  }

  .newGame__title {
    font-size: 10px;
  }

  .newGame__content-container {
    gap: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .newGame__container {
    height: 60vh;
  }
}
