::-webkit-scrollbar {
  display: none;
}

.homePage__container {
  background-color: #353434;
  z-index: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  overflow: scroll;
}

.homePage__search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.homePage__new-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
