::-webkit-scrollbar {
  display: none;
}

.homePage__container {
  width: 100%;
  background-color: transparent;
  z-index: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  overflow: scroll;
}

.homePage__search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage__categories-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.homePage__new-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .homePage__container {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 720px) {
  .homePage__container {
    padding: 0 7px;
  }
}

@media only screen and (max-width: 568px) {
  .homePage__container {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 480px) {
  .homePage__container {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 320px) {
  .homePage__container {
    padding: 0 3px;
  }
}
