.productsPage__container {
  /* background-color: #353434; */
  background-color: transparent;
  z-index: 0;
  height: auto;
  display: flex;
  flex-direction: row;
}

.productsPage__leftContent_container {
  width: 25%;
  padding: 0 15px 0 0;
}

.productsPage__sortTable {
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.295);
  color: white;
}

.productsPage__sortTable_platform {
  display: flex;
  justify-content: center;
}

.productsPage__sortTable_platform,
.productsPage__sortTable_title {
  width: 100%;
  box-shadow: 0px 2px 0px 0px rgb(255, 255, 255);
}

.productsPage__sortTable_platformTitle {
  margin-top: 0px;
}

.sortTable_titleItem {
  margin: 0;
  padding: 10px 0;
}

.sortTable_contentItem {
  padding: 25px 0;
}

.productsPage__rightContent_container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 15px;
}

.productsPage__rightContent_search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.productsPage__rightContent_searchEdit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productsPage__rightContent_editBtn {
  height: 24px;
  padding: 0 10px;
  font-size: 1rem;
  color: white;
  background-color: #9933cc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  margin: 0 0 10px 15px;
}
