::-webkit-scrollbar {
  display: none;
}

.productsOutput__results-container {
  width: 80%;
  overflow: scroll;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #bdbac1;
  border-radius: 8px;
  background-color: #353434;
}
