.searchBar__container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #bdbac1;
  border-radius: 8px;
  background-color: #1b1c22;
  padding: 0 5px;
  margin-bottom: 10px;
}

.searchBar__icon-container {
  color: #bdbac1;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar__loading-icon {
  color: #bdbac1;
  animation: loadingSpin 4s linear infinite;
}

.searchBar {
  width: 100%;
  background-color: #1b1c22;
  color: #bdbac1;
  padding: 0px 10px;
  font-size: 12px;
  border: none;
}

.searchBar:focus {
  outline: none;
}

@keyframes loadingSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 720px) {
  .searchBar__container {
    margin-bottom: 7px;
    height: 22px;
  }

  .searchBar {
    font-size: 11px;
  }
}

@media only screen and (max-width: 568px) {
  .searchBar__container {
    margin-bottom: 3px;
    height: 20px;
  }

  .searchBar {
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .searchBar__container {
    margin-bottom: 3px;
    height: 18px;
  }

  .searchBar {
    font-size: 9px;
  }
}
