.searchBar__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #bdbac1;
  border-radius: 8px;
  background-color: #1b1c22;
  padding: 0 5px;
}

.searchBar__icon-container {
  color: #bdbac1;
  padding: 0 10px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 100%;
  background-color: #1b1c22;
  color: #bdbac1;
  padding: 0px 10px;
  font-size: 12px;
  border: none;
}

.searchBar:focus {
  outline: none;
}
