.delconf__modal_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  padding: 30px;
  width: 80%;
  height: 80%;
}

.delconf__modal_upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delconf__modal_title {
  margin: 0;
  font-size: 3rem;
  color: white;
}

.delconf__modal_closeBtn {
  background-color: inherit;
  border: none;
  font-size: 3rem;
  color: #808080;
  cursor: pointer;
}

.delconf__modal_contentContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  width: 100%;
  justify-content: space-between;
}

.delconf__modal_paragraphContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.delconf__modal_contentParagraph {
  color: white;
  margin: 0px;
}

.delconf__modal_btnsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.delconf__modal_contentButton {
  width: 20%;
  font-size: 2rem;
  color: white;
  background-color: #9933cc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .delconf__modal_title,
  .delconf__modal_closeBtn {
    font-size: 2.5rem;
  }

  .delconf__modal_contentParagraph {
    font-size: 16px;
  }

  .delconf__modal_contentButton {
    width: 30%;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 480px) {
  .delconf__modal_title,
  .delconf__modal_closeBtn {
    font-size: 2rem;
  }

  .delconf__modal_contentParagraph {
    font-size: 14px;
  }

  .delconf__modal_contentButton {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .delconf__modal_title,
  .delconf__modal_closeBtn {
    font-size: 1.3rem;
  }

  .delconf__modal_contentParagraph {
    font-size: 12px;
  }

  .delconf__modal_contentButton {
    width: 40%;
    font-size: 1rem;
  }
}
