.homePage__container {
  background-color: #353434;
  z-index: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePage__search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
