.footer__container {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  height: 63px;
  /* position: relative; */
  /* bottom: 0; */
  z-index: 1;
}

.footer__title-container {
  height: 100%;
}

.footer__title {
  font-size: 22px;
  color: #d6d6d6;
  line-height: 27px;
}

.footer__links-container {
  margin: 0;
  height: 100%;
  display: flex;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
}

.footer__link-icon {
  margin: 0;
  font-size: 26px;
  color: #d1d1d1;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.footer__link-icon:hover {
  transform: scale(1);
  transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .footer__container {
    padding: 0 10px;
  }

  .footer__title-container,
  .footer__links-container {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .footer__title-container {
    justify-content: flex-start;
  }

  .footer__links-container {
    justify-content: flex-end;
  }

  .footer__title {
    font-size: 18px;
    line-height: 22px;
  }

  .footer__link-icon {
    font-size: 22px;
  }
}

@media only screen and (max-width: 479px) {
  .footer__container {
    padding: 0 5px;
  }

  .footer__title {
    font-size: 0.7em;
    line-height: 20px;
  }

  .footer__link-icon {
    font-size: 16px;
  }
}
