.ageSelector__container {
  display: flex;
  flex-direction: column;
}

.ageSelector__input_container {
  width: 100%;
}

.ageSelector__input_radioButton {
  margin-right: 5px;
}

.ageSelector__label_container::after {
  content: "+";
}

@media only screen and (max-width: 768px) {
  .ageSelector__label_container {
    font-size: 14px;
  }
}

@media only screen and (max-width: 720px) {
  .ageSelector__input_container {
    line-height: 14px;
  }

  .ageSelector__input_radioButton {
    width: 10px;
  }

  .ageSelector__label_container {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .ageSelector__label_container {
    font-size: 10px;
  }
}
