.btn {
  padding: 10px;
  margin-right: 15px;
  font-size: 1.3rem;
  color: white;
  background-color: $actBtnColor;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  &:disabled {
    background-color: $disablBtnColor;
    cursor: default;
  }
}

@media only screen and (max-width: 568px) {
  .btn {
    padding: 5px;
    margin-right: 5px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    padding: 5px;
    margin-right: 5px;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 320px) {
  .btn {
    padding: 5px;
    margin-right: 5px;
    font-size: 0.9rem;
  }
}
