.criteriaSelector__container {
  display: flex;
  flex-direction: column;
}

.criteriaSelector__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.criteriaSelector__selector {
  flex-basis: 60%;
  font-family: inherit;
  font-size: inherit;
  padding-left: 5px;
}

.criteriaSelector__selector::after {
  font-family: inherit;
  font-size: inherit;
}
