.signUp__container {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  z-index: 1;
}

.signUp__btn {
  display: flex;
  width: 92px;
  justify-content: center;
  align-items: center;
  padding: 0 17px;
  background-color: #121212;
  transition: font-weight 0.2s ease-in-out;
  text-decoration: none;
  font-size: 16px;
  color: #d1d1d1;
  border: none;
  height: 100%;
}

.signUp__container:hover .signUp__btn {
  font-weight: bold;
  background-color: #272727;
  cursor: pointer;
}

.signUp__container:hover {
  background-color: #272727;
}

.signUp__title {
  margin: 0;
  font-family: "OpenSans-Regular", sans-serif;
}

@media only screen and (max-width: 767px) {
  .signUp__btn {
    width: 60px;
    padding: 0 8px;
  }

  .signUp__title {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 479px) {
  .signUp__btn {
    width: 42px;
    padding: 0 3px;
  }

  .signUp__title {
    font-size: 0.6em;
  }
}
