.star__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star__item {
  transition: 200ms;
  font-size: 10px;
  margin-right: 2px;
}

.star__item-grey {
  color: #a9a9a9;
}

.star__item-gold {
  color: #ffd700;
}
