.textArea__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.textArea__label {
  margin: 0px;
  font-size: 1.5rem;
  color: white;
}

.textArea__textarea {
  border: 1px solid white;
  box-sizing: border-box;
  background-color: inherit;
  width: 100%;
  height: 200px;
  color: white;
  margin-bottom: 0px;
}
